# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [2]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [4]:
black_friday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [5]:
black_friday.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,5.375770e+05,537577.00000,537577.000000,537577.000000,370591.000000,164278.000000,537577.000000
mean,1.002992e+06,8.08271,0.408797,5.295546,9.842144,12.669840,9333.859853
std,1.714393e+03,6.52412,0.491612,3.750701,5.087259,4.124341,4981.022133
min,1.000001e+06,0.00000,0.000000,1.000000,2.000000,3.000000,185.000000
25%,1.001495e+06,2.00000,0.000000,1.000000,5.000000,9.000000,5866.000000
50%,1.003031e+06,7.00000,0.000000,5.000000,9.000000,14.000000,8062.000000
75%,1.004417e+06,14.00000,1.000000,8.000000,15.000000,16.000000,12073.000000
max,1.006040e+06,20.00000,1.000000,18.000000,18.000000,18.000000,23961.000000

In [6]:
black_friday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     537577 non-null  int64
 1   Product_ID                  537577 non-null  object
 2   Gender                      537577 non-null  object
 3   Age                         537577 non-null  object
 4   Occupation                  537577 non-null  int64
 5   City_Category               537577 non-null  object
 6   Stay_In_Current_City_Years  537577 non-null  object
 7   Marital_Status              537577 non-null  int64
 8   Product_Category_1          537577 non-null  int64
 9   Product_Category_2          370591 non-null  float64
 10  Product_Category_3          164278 non-null  float64
 11  Purchase                    537577 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB

In [147]:
black_friday.shape

(537577, 14)

In [11]:
black_friday.groupby('Gender').sum()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
Gender,,,,,,,
F,132605172667,891361,55223,739701,899216.0,459889.0,1164624021
M,406580175483,3453718,164537,2107063,2748194.0,1621487.0,3853044357

In [43]:
black_friday[black_friday['Age'] == '26-35'].groupby('Gender')['User_ID'].nunique().loc['F']

545

In [123]:
(black_friday.isnull().sum() / black_friday.shape[0]).max()

0.6944102891306734

In [30]:
black_friday['User_ID'].nunique()

5891

In [36]:
black_friday.dtypes.nunique()

3

In [38]:
black_friday.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64

In [45]:
black_friday['Product_Category_3'].isnull().sum()

373299

In [64]:
black_friday['Product_Category_3'].value_counts().index[0]

16.0

In [70]:
# normalização
#black_friday['Purchase_norm'] = (black_friday['Purchase'] - black_friday['Purchase'].min()) / (black_friday['Purchase'].max() - black_friday['Purchase'].min())

#black_friday['Purchase_norm'].mean()

In [116]:
# Padronização
#black_friday['Purchase_stand'] = (black_friday['Purchase'] - black_friday['Purchase'].mean()) / black_friday['Purchase'].std()
#len(black_friday[(black_friday['Purchase_stand'] >= -1) & (black_friday['Purchase_stand'] <= 1)])

348631

In [136]:
black_friday[black_friday['Age'] == '26-35'].groupby('Gender').size().loc['F']

49348

In [108]:
#len(black_friday[(black_friday['Purchase_stand'] < -1)]) + len(black_friday[(black_friday['Purchase_stand'] > 1)])

188946

In [114]:
#len(black_friday[(black_friday['Purchase_stand'] < -1)]) + len(black_friday[(black_friday['Purchase_stand'] > 1)])

188946

In [130]:
black_friday[['Product_Category_2','Product_Category_3']].isnull()

        Product_Category_2  Product_Category_3
0                     True                True
1                    False               False
2                     True                True
3                    False                True
4                     True                True
...                    ...                 ...
537572               False                True
537573               False               False
537574               False                True
537575                True                True
537576               False                True

[537577 rows x 2 columns]

In [131]:
aux = black_friday[black_friday['Product_Category_2'].isnull()]
aux['Product_Category_2'].equals(aux['Product_Category_3'])

True

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [9]:
def q1():
    # Retorne aqui o resultado da questão 1.
    return black_friday.shape

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [146]:
def q2():
    # Retorne aqui o resultado da questão 2.
    return black_friday[(black_friday['Age'] == '26-35') & (black_friday['Gender'] == 'F')].shape[0]

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [74]:
def q3():
    # Retorne aqui o resultado da questão 3.
    return black_friday['User_ID'].nunique()

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [75]:
def q4():
    # Retorne aqui o resultado da questão 4.
    return black_friday.dtypes.nunique()

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [124]:
def q5():
    # Retorne aqui o resultado da questão 5.
    return (black_friday.isnull().sum() / black_friday.shape[0]).max()

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [76]:
def q6():
    # Retorne aqui o resultado da questão 6.
    return black_friday.isnull().sum().max()

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [65]:
def q7():
    # Retorne aqui o resultado da questão 7.
    return black_friday['Product_Category_3'].value_counts().index[0]

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [77]:
def q8():
    # Retorne aqui o resultado da questão 8.
    black_friday['Purchase_norm'] = (black_friday['Purchase'] - black_friday['Purchase'].min()) / (black_friday['Purchase'].max() - black_friday['Purchase'].min())
    return black_friday['Purchase_norm'].mean()

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [117]:
def q9():
    # Retorne aqui o resultado da questão 9.
    black_friday['Purchase_stand'] = (black_friday['Purchase'] - black_friday['Purchase'].mean()) / black_friday['Purchase'].std()
    return len(black_friday[(black_friday['Purchase_stand'] >= -1) & (black_friday['Purchase_stand'] <= 1)])

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [132]:
def q10():
    # Retorne aqui o resultado da questão 10.
    aux = black_friday[black_friday['Product_Category_2'].isnull()]
    return aux['Product_Category_2'].equals(aux['Product_Category_3'])