# KDD CUP 2009 - Previsão de relacionamento com o cliente

## Introdução.

A KDD CUP 2009 oferece a oportunidade de trabalhar em grandes bancos de dados de marketing da empresa francesa Telecom, para prever a propensão de clientes a mudar de fornecedor(churn), comprar novos produtos ou serviços(appetency) ou comprar upgrades ou add-ons proposto para eles, tornando a venda mais lucrativa(up-selling).

## Informações fornecidas pela competição:
Dataset usado: **Small**
- Dataset com 50.000 observações
- 230 atributos(variáveis) sendo: 190 numéricos e 40 categóricos.


## Objetivos a serem desenvolvidos:
 - Fazer a limpeza e transformações necessárias
 - Fazer uma análise e exploração dos dados
 - Testar alguns modelos de algoritmos e verificar qual melhor se adapta ao problema

# Imports e configuração do notebook

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score
import warnings
warnings.filterwarnings('ignore')


# Carga dos dados

In [2]:
df = pd.read_table('dataset/orange_small_train.data')

df['CHURN'] = pd.read_table('dataset/orange_small_train_churn.labels', header=-1)

df['APPETECY'] = pd.read_table('dataset/orange_small_train_appetency.labels', header=-1)

df['UPSELLING'] = pd.read_table('dataset/orange_small_train_upselling.labels', header=-1)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Columns: 233 entries, Var1 to UPSELLING
dtypes: float64(191), int64(4), object(38)
memory usage: 88.9+ MB

In [4]:
df.columns

Index(['Var1', 'Var2', 'Var3', 'Var4', 'Var5', 'Var6', 'Var7', 'Var8', 'Var9',
       'Var10',
       ...
       'Var224', 'Var225', 'Var226', 'Var227', 'Var228', 'Var229', 'Var230',
       'CHURN', 'APPETECY', 'UPSELLING'],
      dtype='object', length=233)



Antes de iniciar as análises podemos verificar que os dados batem com aquilo que foi passado pela competição, não ocorrendo a perda de dados pelo processo de carregamento dos mesmos.
As variáveis estão nomeadas como **Var1** até **Var230**, o que pode indicar que foi feito dessa forma para preservar a privacidade e segurança dos dados sobre os clientes, mas impossibilita o levantamento de algum tipo de hipótese baseado na análise dos nomes das colunas.

# Funções:

Funções adotadas pela análise

In [5]:
# Separação dos dados em dados de treino e teste
#Como a classe dos dados está muito desbalanceada, será adotado a validação cruzada para melhorar o treinamento

def get_train_test(x,y,fold):
    skf = StratifiedKFold(fold)
    for train_index, test_index in skf.split(x, y):
        x_train, x_test = x[train_index], x[test_index]
        y_train, y_test = y[train_index], y[test_index]
    
    return x_train, x_test, y_train, y_test

In [6]:
# Treina o modelo e gera a previsão    
def gera_previsao(modelo,x_train,y_train, x_test):
    
    modelo.fit(x_train, y_train)

    return modelo.predict(x_test)

In [7]:
# mostra a informação dos dados

def mostra_info(df, linhas=len(df)):
    for ind, i in enumerate(df.columns[:linhas]):
        print('\n{} \t{} \tnulos: {}\t tipo: {}\t unicos: {}'.format(
        ind,
        i,
        df[i].isnull().sum(),
        df[i].dtype,
        df[i].nunique()
        ))
        print('-' * 100)

In [8]:
# Resumo dos resultados

def gera_resultados(previsao, y_test):
    print(classification_report(y_test, previsao))
    # confusion matrix
    print('\nMATRIZ DE CONFUSÃO\n', confusion_matrix(y_test, previsao))
    print('\nAUC: ', roc_auc_score(y_test, previsao))

# Análise exploratória
Com ela podemos conhecer melhor os dados que estamos trabalhando.

In [9]:
# VISUALIZAR OS PRIMEIROS REGISTROS
df.head()

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var224,Var225,Var226,Var227,Var228,Var229,Var230,CHURN,APPETECY,UPSELLING
0,NaN,NaN,NaN,NaN,NaN,1526.0,7.0,NaN,NaN,NaN,...,NaN,NaN,xb3V,RAYp,F2FyR07IdsN7I,NaN,NaN,-1,-1,-1
1,NaN,NaN,NaN,NaN,NaN,525.0,0.0,NaN,NaN,NaN,...,NaN,NaN,fKCe,RAYp,F2FyR07IdsN7I,NaN,NaN,1,-1,-1
2,NaN,NaN,NaN,NaN,NaN,5236.0,7.0,NaN,NaN,NaN,...,NaN,kG3k,Qu4f,02N6s8f,ib5G6X1eUxUn6,am7c,NaN,-1,-1,-1
3,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,FSa2,RAYp,F2FyR07IdsN7I,NaN,NaN,-1,-1,-1
4,NaN,NaN,NaN,NaN,NaN,1029.0,7.0,NaN,NaN,NaN,...,NaN,kG3k,FSa2,RAYp,F2FyR07IdsN7I,mj86,NaN,-1,-1,-1

In [10]:
# LINHAS E COLUNAS
df.shape

(50000, 233)

## Informações estatísticas sobre os dados

In [11]:
df.describe(include='all')

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var224,Var225,Var226,Var227,Var228,Var229,Var230,CHURN,APPETECY,UPSELLING
count,702.000000,1241.000000,1240.000000,1579.000000,1.487000e+03,44471.000000,44461.000000,0.0,702.000000,1.487000e+03,...,820,23856,50000,50000,50000,21568,0.0,50000.00000,50000.00000,50000.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,3,23,7,30,4,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4n2X,ELof,FSa2,RAYp,F2FyR07IdsN7I,am7c,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,820,11072,8031,35156,32703,11689,NaN,NaN,NaN,NaN
mean,11.487179,0.004029,425.298387,0.125396,2.387933e+05,1326.437116,6.809496,NaN,48.145299,3.926057e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.85312,-0.96440,-0.852720
std,40.709951,0.141933,4270.193518,1.275481,6.441259e+05,2685.693668,6.326053,NaN,154.777855,9.280896e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.52172,0.26445,0.522373
min,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,NaN,0.000000,0.000000e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.00000,-1.00000,-1.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000e+00,518.000000,0.000000,NaN,4.000000,0.000000e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.00000,-1.00000,-1.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000e+00,861.000000,7.000000,NaN,20.000000,0.000000e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.00000,-1.00000,-1.000000
75%,16.000000,0.000000,0.000000,0.000000,1.187425e+05,1428.000000,7.000000,NaN,46.000000,2.628630e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.00000,-1.00000,-1.000000
max,680.000000,5.000000,130668.000000,27.000000,6.048550e+06,131761.000000,140.000000,NaN,2300.000000,1.232559e+07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,1.00000,1.000000

Os dados possuem colunas aparentemente com quase sua totalidade constituídas de valores faltantes ou inválidos, precisará ser tratado para a utilização de algoritmos de aprendizado de máquina

## Verificando os valores inválidos

In [12]:
# Porcentagem de valores null
df.isnull().sum() / len(df) * 100

Var1          98.596
Var2          97.518
Var3          97.520
Var4          96.842
Var5          97.026
Var6          11.058
Var7          11.078
Var8         100.000
Var9          98.596
Var10         97.026
Var11         97.520
Var12         98.884
Var13         11.078
Var14         97.520
Var15        100.000
Var16         97.026
Var17         96.842
Var18         96.842
Var19         96.842
Var20        100.000
Var21         11.058
Var22         10.018
Var23         97.026
Var24         14.460
Var25         10.018
Var26         97.026
Var27         97.026
Var28         10.022
Var29         98.596
Var30         98.596
              ...
Var204         0.000
Var205         3.868
Var206        11.058
Var207         0.000
Var208         0.286
Var209       100.000
Var210         0.000
Var211         0.000
Var212         0.000
Var213        97.742
Var214        50.816
Var215        98.612
Var216         0.000
Var217         1.406
Var218         1.406
Var219        10.422
Var220         0.000
Var221         0.000
Var222         0.000
Var223        10.422
Var224        98.360
Var225        52.288
Var226         0.000
Var227         0.000
Var228         0.000
Var229        56.864
Var230       100.000
CHURN          0.000
APPETECY       0.000
UPSELLING      0.000
Length: 233, dtype: float64

In [13]:
# informações detalhadas
mostra_info(df)

0 	Var1 	nulos: 49298	 tipo: float64	 unicos: 18
----------------------------------------------------------------------------------------------------

1 	Var2 	nulos: 48759	 tipo: float64	 unicos: 2
----------------------------------------------------------------------------------------------------

2 	Var3 	nulos: 48760	 tipo: float64	 unicos: 146
----------------------------------------------------------------------------------------------------

3 	Var4 	nulos: 48421	 tipo: float64	 unicos: 4
----------------------------------------------------------------------------------------------------

4 	Var5 	nulos: 48513	 tipo: float64	 unicos: 571
----------------------------------------------------------------------------------------------------

5 	Var6 	nulos: 5529	 tipo: float64	 unicos: 1486
----------------------------------------------------------------------------------------------------

6 	Var7 	nulos: 5539	 tipo: float64	 unicos: 8
----------------------------------------------------------------------------------------------------

7 	Var8 	nulos: 50000	 tipo: float64	 unicos: 0
----------------------------------------------------------------------------------------------------

8 	Var9 	nulos: 49298	 tipo: float64	 unicos: 100
----------------------------------------------------------------------------------------------------

9 	Var10 	nulos: 48513	 tipo: float64	 unicos: 534
----------------------------------------------------------------------------------------------------

10 	Var11 	nulos: 48760	 tipo: float64	 unicos: 5
----------------------------------------------------------------------------------------------------

11 	Var12 	nulos: 49442	 tipo: float64	 unicos: 22
----------------------------------------------------------------------------------------------------

12 	Var13 	nulos: 5539	 tipo: float64	 unicos: 2634
----------------------------------------------------------------------------------------------------

13 	Var14 	nulos: 48760	 tipo: float64	 unicos: 19
----------------------------------------------------------------------------------------------------

14 	Var15 	nulos: 50000	 tipo: float64	 unicos: 0
----------------------------------------------------------------------------------------------------

15 	Var16 	nulos: 48513	 tipo: float64	 unicos: 597
----------------------------------------------------------------------------------------------------

16 	Var17 	nulos: 48421	 tipo: float64	 unicos: 37
----------------------------------------------------------------------------------------------------

17 	Var18 	nulos: 48421	 tipo: float64	 unicos: 26
----------------------------------------------------------------------------------------------------

18 	Var19 	nulos: 48421	 tipo: float64	 unicos: 4
----------------------------------------------------------------------------------------------------

19 	Var20 	nulos: 50000	 tipo: float64	 unicos: 0
----------------------------------------------------------------------------------------------------

20 	Var21 	nulos: 5529	 tipo: float64	 unicos: 734
----------------------------------------------------------------------------------------------------

21 	Var22 	nulos: 5009	 tipo: float64	 unicos: 735
----------------------------------------------------------------------------------------------------

22 	Var23 	nulos: 48513	 tipo: float64	 unicos: 29
----------------------------------------------------------------------------------------------------

23 	Var24 	nulos: 7230	 tipo: float64	 unicos: 93
----------------------------------------------------------------------------------------------------

24 	Var25 	nulos: 5009	 tipo: float64	 unicos: 271
----------------------------------------------------------------------------------------------------

25 	Var26 	nulos: 48513	 tipo: float64	 unicos: 4
----------------------------------------------------------------------------------------------------

26 	Var27 	nulos: 48513	 tipo: float64	 unicos: 3
----------------------------------------------------------------------------------------------------

27 	Var28 	nulos: 5011	 tipo: float64	 unicos: 4167
----------------------------------------------------------------------------------------------------

28 	Var29 	nulos: 49298	 tipo: float64	 unicos: 2
----------------------------------------------------------------------------------------------------

29 	Var30 	nulos: 49298	 tipo: float64	 unicos: 13
----------------------------------------------------------------------------------------------------

30 	Var31 	nulos: 50000	 tipo: float64	 unicos: 0
----------------------------------------------------------------------------------------------------

31 	Var32 	nulos: 50000	 tipo: float64	 unicos: 0
----------------------------------------------------------------------------------------------------

32 	Var33 	nulos: 49153	 tipo: float64	 unicos: 298
----------------------------------------------------------------------------------------------------

33 	Var34 	nulos: 48759	 tipo: float64	 unicos: 6
----------------------------------------------------------------------------------------------------

34 	Var35 	nulos: 5009	 tipo: float64	 unicos: 13
----------------------------------------------------------------------------------------------------

35 	Var36 	nulos: 48759	 tipo: float64	 unicos: 531
----------------------------------------------------------------------------------------------------

36 	Var37 	nulos: 48421	 tipo: float64	 unicos: 550
----------------------------------------------------------------------------------------------------

37 	Var38 	nulos: 5009	 tipo: float64	 unicos: 30832
----------------------------------------------------------------------------------------------------

38 	Var39 	nulos: 50000	 tipo: float64	 unicos: 0
----------------------------------------------------------------------------------------------------

39 	Var40 	nulos: 48759	 tipo: float64	 unicos: 27
----------------------------------------------------------------------------------------------------

40 	Var41 	nulos: 49298	 tipo: float64	 unicos: 36
----------------------------------------------------------------------------------------------------

41 	Var42 	nulos: 50000	 tipo: float64	 unicos: 0
----------------------------------------------------------------------------------------------------

42 	Var43 	nulos: 48759	 tipo: float64	 unicos: 20
----------------------------------------------------------------------------------------------------

43 	Var44 	nulos: 5009	 tipo: float64	 unicos: 8
----------------------------------------------------------------------------------------------------

44 	Var45 	nulos: 49656	 tipo: float64	 unicos: 343
----------------------------------------------------------------------------------------------------

45 	Var46 	nulos: 48759	 tipo: float64	 unicos: 50
----------------------------------------------------------------------------------------------------

46 	Var47 	nulos: 49298	 tipo: float64	 unicos: 11
----------------------------------------------------------------------------------------------------

47 	Var48 	nulos: 50000	 tipo: float64	 unicos: 0
----------------------------------------------------------------------------------------------------

48 	Var49 	nulos: 48759	 tipo: float64	 unicos: 4
----------------------------------------------------------------------------------------------------

49 	Var50 	nulos: 49298	 tipo: float64	 unicos: 63
----------------------------------------------------------------------------------------------------

50 	Var51 	nulos: 46253	 tipo: float64	 unicos: 3561
----------------------------------------------------------------------------------------------------

51 	Var52 	nulos: 50000	 tipo: float64	 unicos: 0
----------------------------------------------------------------------------------------------------

52 	Var53 	nulos: 49298	 tipo: float64	 unicos: 397
----------------------------------------------------------------------------------------------------

53 	Var54 	nulos: 48759	 tipo: float64	 unicos: 5
----------------------------------------------------------------------------------------------------

54 	Var55 	nulos: 50000	 tipo: float64	 unicos: 0
----------------------------------------------------------------------------------------------------

55 	Var56 	nulos: 49354	 tipo: float64	 unicos: 195
----------------------------------------------------------------------------------------------------

56 	Var57 	nulos: 0	 tipo: float64	 unicos: 25614
----------------------------------------------------------------------------------------------------

57 	Var58 	nulos: 49298	 tipo: float64	 unicos: 244
----------------------------------------------------------------------------------------------------

58 	Var59 	nulos: 49180	 tipo: float64	 unicos: 566
----------------------------------------------------------------------------------------------------

59 	Var60 	nulos: 48513	 tipo: float64	 unicos: 47
----------------------------------------------------------------------------------------------------

60 	Var61 	nulos: 49153	 tipo: float64	 unicos: 39
----------------------------------------------------------------------------------------------------

61 	Var62 	nulos: 49442	 tipo: float64	 unicos: 12
----------------------------------------------------------------------------------------------------

62 	Var63 	nulos: 49306	 tipo: float64	 unicos: 48
----------------------------------------------------------------------------------------------------

63 	Var64 	nulos: 49762	 tipo: float64	 unicos: 233
----------------------------------------------------------------------------------------------------

64 	Var65 	nulos: 5539	 tipo: float64	 unicos: 15
----------------------------------------------------------------------------------------------------

65 	Var66 	nulos: 49306	 tipo: float64	 unicos: 100
----------------------------------------------------------------------------------------------------

66 	Var67 	nulos: 48513	 tipo: float64	 unicos: 2
----------------------------------------------------------------------------------------------------

67 	Var68 	nulos: 48759	 tipo: float64	 unicos: 84
----------------------------------------------------------------------------------------------------

68 	Var69 	nulos: 48513	 tipo: float64	 unicos: 838
----------------------------------------------------------------------------------------------------

69 	Var70 	nulos: 48513	 tipo: float64	 unicos: 521
----------------------------------------------------------------------------------------------------

70 	Var71 	nulos: 48871	 tipo: float64	 unicos: 119
----------------------------------------------------------------------------------------------------

71 	Var72 	nulos: 22380	 tipo: float64	 unicos: 8
----------------------------------------------------------------------------------------------------

72 	Var73 	nulos: 0	 tipo: int64	 unicos: 131
----------------------------------------------------------------------------------------------------

73 	Var74 	nulos: 5539	 tipo: float64	 unicos: 371
----------------------------------------------------------------------------------------------------

74 	Var75 	nulos: 48759	 tipo: float64	 unicos: 13
----------------------------------------------------------------------------------------------------

75 	Var76 	nulos: 5009	 tipo: float64	 unicos: 29743
----------------------------------------------------------------------------------------------------

76 	Var77 	nulos: 49298	 tipo: float64	 unicos: 23
----------------------------------------------------------------------------------------------------

77 	Var78 	nulos: 5009	 tipo: float64	 unicos: 13
----------------------------------------------------------------------------------------------------

78 	Var79 	nulos: 50000	 tipo: float64	 unicos: 0
----------------------------------------------------------------------------------------------------

79 	Var80 	nulos: 48513	 tipo: float64	 unicos: 400
----------------------------------------------------------------------------------------------------

80 	Var81 	nulos: 5529	 tipo: float64	 unicos: 43042
----------------------------------------------------------------------------------------------------

81 	Var82 	nulos: 48421	 tipo: float64	 unicos: 4
----------------------------------------------------------------------------------------------------

82 	Var83 	nulos: 5009	 tipo: float64	 unicos: 195
----------------------------------------------------------------------------------------------------

83 	Var84 	nulos: 48760	 tipo: float64	 unicos: 96
----------------------------------------------------------------------------------------------------

84 	Var85 	nulos: 5009	 tipo: float64	 unicos: 149
----------------------------------------------------------------------------------------------------

85 	Var86 	nulos: 49298	 tipo: float64	 unicos: 448
----------------------------------------------------------------------------------------------------

86 	Var87 	nulos: 49298	 tipo: float64	 unicos: 5
----------------------------------------------------------------------------------------------------

87 	Var88 	nulos: 48917	 tipo: float64	 unicos: 88
----------------------------------------------------------------------------------------------------

88 	Var89 	nulos: 49354	 tipo: float64	 unicos: 16
----------------------------------------------------------------------------------------------------

89 	Var90 	nulos: 49298	 tipo: float64	 unicos: 2
----------------------------------------------------------------------------------------------------

90 	Var91 	nulos: 48871	 tipo: float64	 unicos: 119
----------------------------------------------------------------------------------------------------

91 	Var92 	nulos: 49829	 tipo: float64	 unicos: 169
----------------------------------------------------------------------------------------------------

92 	Var93 	nulos: 48513	 tipo: float64	 unicos: 4
----------------------------------------------------------------------------------------------------

93 	Var94 	nulos: 22380	 tipo: float64	 unicos: 20002
----------------------------------------------------------------------------------------------------

94 	Var95 	nulos: 48759	 tipo: float64	 unicos: 267
----------------------------------------------------------------------------------------------------

95 	Var96 	nulos: 48759	 tipo: float64	 unicos: 33
----------------------------------------------------------------------------------------------------

96 	Var97 	nulos: 48513	 tipo: float64	 unicos: 7
----------------------------------------------------------------------------------------------------

97 	Var98 	nulos: 49442	 tipo: float64	 unicos: 115
----------------------------------------------------------------------------------------------------

98 	Var99 	nulos: 48421	 tipo: float64	 unicos: 47
----------------------------------------------------------------------------------------------------

99 	Var100 	nulos: 49298	 tipo: float64	 unicos: 5
----------------------------------------------------------------------------------------------------

100 	Var101 	nulos: 49127	 tipo: float64	 unicos: 28
----------------------------------------------------------------------------------------------------

101 	Var102 	nulos: 49549	 tipo: float64	 unicos: 445
----------------------------------------------------------------------------------------------------

102 	Var103 	nulos: 48513	 tipo: float64	 unicos: 39
----------------------------------------------------------------------------------------------------

103 	Var104 	nulos: 49180	 tipo: float64	 unicos: 62
----------------------------------------------------------------------------------------------------

104 	Var105 	nulos: 49180	 tipo: float64	 unicos: 62
----------------------------------------------------------------------------------------------------

105 	Var106 	nulos: 48421	 tipo: float64	 unicos: 261
----------------------------------------------------------------------------------------------------

106 	Var107 	nulos: 48513	 tipo: float64	 unicos: 24
----------------------------------------------------------------------------------------------------

107 	Var108 	nulos: 49298	 tipo: float64	 unicos: 341
----------------------------------------------------------------------------------------------------

108 	Var109 	nulos: 7230	 tipo: float64	 unicos: 209
----------------------------------------------------------------------------------------------------

109 	Var110 	nulos: 49298	 tipo: float64	 unicos: 5
----------------------------------------------------------------------------------------------------

110 	Var111 	nulos: 48871	 tipo: float64	 unicos: 794
----------------------------------------------------------------------------------------------------

111 	Var112 	nulos: 5009	 tipo: float64	 unicos: 230
----------------------------------------------------------------------------------------------------

112 	Var113 	nulos: 0	 tipo: float64	 unicos: 48511
----------------------------------------------------------------------------------------------------

113 	Var114 	nulos: 48759	 tipo: float64	 unicos: 643
----------------------------------------------------------------------------------------------------

114 	Var115 	nulos: 49180	 tipo: float64	 unicos: 35
----------------------------------------------------------------------------------------------------

115 	Var116 	nulos: 49298	 tipo: float64	 unicos: 2
----------------------------------------------------------------------------------------------------

116 	Var117 	nulos: 48421	 tipo: float64	 unicos: 656
----------------------------------------------------------------------------------------------------

117 	Var118 	nulos: 49829	 tipo: float64	 unicos: 1
----------------------------------------------------------------------------------------------------

118 	Var119 	nulos: 5529	 tipo: float64	 unicos: 1487
----------------------------------------------------------------------------------------------------

119 	Var120 	nulos: 48513	 tipo: float64	 unicos: 64
----------------------------------------------------------------------------------------------------

120 	Var121 	nulos: 49298	 tipo: float64	 unicos: 33
----------------------------------------------------------------------------------------------------

121 	Var122 	nulos: 48759	 tipo: float64	 unicos: 3
----------------------------------------------------------------------------------------------------

122 	Var123 	nulos: 5009	 tipo: float64	 unicos: 298
----------------------------------------------------------------------------------------------------

123 	Var124 	nulos: 48421	 tipo: float64	 unicos: 347
----------------------------------------------------------------------------------------------------

124 	Var125 	nulos: 5539	 tipo: float64	 unicos: 10505
----------------------------------------------------------------------------------------------------

125 	Var126 	nulos: 13920	 tipo: float64	 unicos: 51
----------------------------------------------------------------------------------------------------

126 	Var127 	nulos: 48917	 tipo: float64	 unicos: 39
----------------------------------------------------------------------------------------------------

127 	Var128 	nulos: 48917	 tipo: float64	 unicos: 88
----------------------------------------------------------------------------------------------------

128 	Var129 	nulos: 49298	 tipo: float64	 unicos: 45
----------------------------------------------------------------------------------------------------

129 	Var130 	nulos: 48760	 tipo: float64	 unicos: 2
----------------------------------------------------------------------------------------------------

130 	Var131 	nulos: 49298	 tipo: float64	 unicos: 152

---

Ficou constatado o seguinte:


- A grande maioria do dataset está com valores inválidos
- Seus dados estão codificados, e por isso não é possivel deduzir ou levantar hipóteses sobre os nomes de colunas

# Pré-processamento

## Redução da quantidade de Colunas com dados não significativos

Como o conjunto de dados possui muitos valores inválidos, será mantido apenas aqueles que possuem ao menos 60% de valores válidos.

In [14]:
df = df[[i for i in df.columns if df[i].isnull().mean()<= 0.4]]

In [15]:
# linhas e colunas
df.shape

(50000, 70)

In [16]:
# colunas restantes
df.columns

Index(['Var6', 'Var7', 'Var13', 'Var21', 'Var22', 'Var24', 'Var25', 'Var28',
       'Var35', 'Var38', 'Var44', 'Var57', 'Var65', 'Var73', 'Var74', 'Var76',
       'Var78', 'Var81', 'Var83', 'Var85', 'Var109', 'Var112', 'Var113',
       'Var119', 'Var123', 'Var125', 'Var126', 'Var132', 'Var133', 'Var134',
       'Var140', 'Var143', 'Var144', 'Var149', 'Var153', 'Var160', 'Var163',
       'Var173', 'Var181', 'Var192', 'Var193', 'Var195', 'Var196', 'Var197',
       'Var198', 'Var199', 'Var202', 'Var203', 'Var204', 'Var205', 'Var206',
       'Var207', 'Var208', 'Var210', 'Var211', 'Var212', 'Var216', 'Var217',
       'Var218', 'Var219', 'Var220', 'Var221', 'Var222', 'Var223', 'Var226',
       'Var227', 'Var228', 'CHURN', 'APPETECY', 'UPSELLING'],
      dtype='object')

## Divisão em dados numéricos e categóricos

Assim podemos tratar os dados de acordo com sua necessidade

In [17]:
numericos = df[[i for i in df.columns if(df[i].dtype != 'object')]]
categoricos = df[[i for i in df.columns if (df[i].dtype == 'object')]]

## Tratamento de valores null

- As variáveis numéricas possuiem valores variados, e por isso serão preenchidos por sua média
- As variáveis categóricas terão uma nova categoria com os valores faltantes

In [18]:
for i in numericos.columns[:-3]:
    numericos[i][numericos[i].isnull()] = numericos[i].mean()

categoricos.fillna('faltante', inplace=True)

In [19]:
x = pd.concat((categoricos, numericos.iloc[:, : -3]), axis=1)

## Converte as variáveis categoricas em discretas

Atribui um valor numérico para representar cada categoria diferente

In [20]:
le = LabelEncoder()

In [21]:
for i in x:
    x[i] = le.fit_transform(x[i])

## Padronização dos dados

Deixa os dados em uma mesma escala de valores

In [22]:
scaler = StandardScaler()

x = scaler.fit_transform(x)

# Apresentação dos resultados

---

**EXPLICAÇÃO SOBRE AS MÉTRICAS DE AVALIAÇÃO**

**Classification Report:**  
Mostra um conjunto de métricas, tais como:  
*Precision:* que mostra o número de acertos de cada classe. Como o valor da classe mais assertiva influência o valor da média geral nem sempre esta é uma boa métrica para conjuntos de dados com classes muito desbalanceadas.  
*Recall:* leva em consideração os a quantidade de registros classificados corretamente em ambas as classes.  
*F1 Score:* média entre precisão e recall, ele é melhor utilizado quando o modelo não utiliza probabilidade.

**Confusion Matrix:**  
Com ela é possivel ver a distribuição das classes pelo algoritmo, assim podemos realmente conferir se as previsões não estão tentando seguir algum tipo de tendência.

|Matriz de confusão ||
|-------------------- |--------------- |
|**positivos verdadeiros**|falsos positivos|
|falsos negativos|**negativos verdadeiros**|

**AUC** - Métrica usada pela competição, ela gera uma curva de área formada com as taxas dos valores positivos classificados corretamente e os falsos positivos, ela é usada com conjuntos que estão desbalanceados.\

In [23]:
for i in df.columns[-3:]:
    print('\n\nTARGET - ',i)
    x_train, x_test, y_train, y_test = get_train_test(x,df[i],69)
    previsao = gera_previsao(GaussianNB(), x_train, y_train, x_test)
    gera_resultados(previsao, y_test)
    print('=' * 100)

TARGET -  CHURN
             precision    recall  f1-score   support

         -1       0.95      0.76      0.85       671
          1       0.15      0.55      0.24        53

avg / total       0.90      0.74      0.80       724


MATRIZ DE CONFUSÃO
 [[509 162]
 [ 24  29]]

AUC:  0.6528695554368305
====================================================================================================


TARGET -  APPETECY
             precision    recall  f1-score   support

         -1       0.99      0.85      0.91       711
          1       0.05      0.42      0.08        12

avg / total       0.97      0.84      0.90       723


MATRIZ DE CONFUSÃO
 [[605 106]
 [  7   5]]

AUC:  0.6337904360056259
====================================================================================================


TARGET -  UPSELLING
             precision    recall  f1-score   support

         -1       0.95      0.59      0.73       671
          1       0.11      0.62      0.18        53

avg / total       0.89      0.60      0.69       724


MATRIZ DE CONFUSÃO
 [[399 272]
 [ 20  33]]

AUC:  0.6086381913786801
====================================================================================================