# Testes com numpy

In [1]:
import numpy as np

### Criar um vetor de 100 elementos com numpy apartir de uma lista

In [2]:
a = list(range(100));
v = np.array(a)
v

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

### Criar um vetor de 100 elementos com numpy

In [3]:
v2 = np.arange(100)
v2

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

### Criar uma matriz 5x5 de zeros

In [47]:
m = np.zeros((5,5))
m

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

### Criar uma matriz 3x7 de uns

In [48]:
m2 = np.ones((3,7))
m2

array([[1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1.]])

### Criar uma matriz 4x3 de cincos

In [51]:
m3 = np.full((4,3),5)
m3

array([[5, 5, 5],
       [5, 5, 5],
       [5, 5, 5],
       [5, 5, 5]])

### Criar uma matriz identidade de 5x5

In [54]:
m4 = np.eye(5)
m4

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

### Criar uma sequencia de 100 números de um intervalo de 0 a 10000

In [64]:
x = np.random.randint(0,10000,100); x

array([3840, 9806, 3120, 7519, 9047, 2248, 9411, 9507,   61,  930,  865,
       1594, 2842, 3155, 7194, 7287, 5944, 2626,  191, 3724, 7559, 9479,
       2502, 2670, 6422, 6399,  159, 4968, 7868, 3565, 2440, 1608,  765,
       1977, 7493, 6510, 9163, 9510, 8994, 2942, 6496, 3422,   53,  436,
       2198, 6130, 4736, 4553,  582,  949,  614,  216, 4701, 4932, 6071,
       9379,  290, 4285, 9144, 2272, 5837, 4342, 4787, 2609, 6005, 3553,
       9450, 4552, 7012, 8050, 4689,  288, 4058, 3960, 4173, 9708,  928,
       6922, 4792, 1899,  154,  612,  926, 2409,  995, 5015,  562,  625,
       3741, 4911, 4598, 8985, 3846, 9969, 2379, 1534, 5605, 9904, 1816,
       4129])

### Slicing de arrays

In [67]:
#10 primeiros valores
x[:10]

array([3840, 9806, 3120, 7519, 9047, 2248, 9411, 9507,   61,  930])

In [69]:
#Último elemento
x[-1]

4129

In [71]:
# Todos os elementos após o 10
x[10:]

array([ 865, 1594, 2842, 3155, 7194, 7287, 5944, 2626,  191, 3724, 7559,
       9479, 2502, 2670, 6422, 6399,  159, 4968, 7868, 3565, 2440, 1608,
        765, 1977, 7493, 6510, 9163, 9510, 8994, 2942, 6496, 3422,   53,
        436, 2198, 6130, 4736, 4553,  582,  949,  614,  216, 4701, 4932,
       6071, 9379,  290, 4285, 9144, 2272, 5837, 4342, 4787, 2609, 6005,
       3553, 9450, 4552, 7012, 8050, 4689,  288, 4058, 3960, 4173, 9708,
        928, 6922, 4792, 1899,  154,  612,  926, 2409,  995, 5015,  562,
        625, 3741, 4911, 4598, 8985, 3846, 9969, 2379, 1534, 5605, 9904,
       1816, 4129])

In [73]:
# todos os elementos pulando de 2 em 2
x[::2]

array([3840, 3120, 9047, 9411,   61,  865, 2842, 7194, 5944,  191, 7559,
       2502, 6422,  159, 7868, 2440,  765, 7493, 9163, 8994, 6496,   53,
       2198, 4736,  582,  614, 4701, 6071,  290, 9144, 5837, 4787, 6005,
       9450, 7012, 4689, 4058, 4173,  928, 4792,  154,  926,  995,  562,
       3741, 4598, 3846, 2379, 5605, 1816])

In [74]:
# array reverso
x[::-1]

array([4129, 1816, 9904, 5605, 1534, 2379, 9969, 3846, 8985, 4598, 4911,
       3741,  625,  562, 5015,  995, 2409,  926,  612,  154, 1899, 4792,
       6922,  928, 9708, 4173, 3960, 4058,  288, 4689, 8050, 7012, 4552,
       9450, 3553, 6005, 2609, 4787, 4342, 5837, 2272, 9144, 4285,  290,
       9379, 6071, 4932, 4701,  216,  614,  949,  582, 4553, 4736, 6130,
       2198,  436,   53, 3422, 6496, 2942, 8994, 9510, 9163, 6510, 7493,
       1977,  765, 1608, 2440, 3565, 7868, 4968,  159, 6399, 6422, 2670,
       2502, 9479, 7559, 3724,  191, 2626, 5944, 7287, 7194, 3155, 2842,
       1594,  865,  930,   61, 9507, 9411, 2248, 9047, 7519, 3120, 9806,
       3840])

In [83]:
# Slicing com matriz
y = x.reshape(10,10)
y

array([[3840, 9806, 3120, 7519, 9047, 2248, 9411, 9507,   61,  930],
       [ 865, 1594, 2842, 3155, 7194, 7287, 5944, 2626,  191, 3724],
       [7559, 9479, 2502, 2670, 6422, 6399,  159, 4968, 7868, 3565],
       [2440, 1608,  765, 1977, 7493, 6510, 9163, 9510, 8994, 2942],
       [6496, 3422,   53,  436, 2198, 6130, 4736, 4553,  582,  949],
       [ 614,  216, 4701, 4932, 6071, 9379,  290, 4285, 9144, 2272],
       [5837, 4342, 4787, 2609, 6005, 3553, 9450, 4552, 7012, 8050],
       [4689,  288, 4058, 3960, 4173, 9708,  928, 6922, 4792, 1899],
       [ 154,  612,  926, 2409,  995, 5015,  562,  625, 3741, 4911],
       [4598, 8985, 3846, 9969, 2379, 1534, 5605, 9904, 1816, 4129]])

In [85]:
# Primeira linha
y[0]

array([3840, 9806, 3120, 7519, 9047, 2248, 9411, 9507,   61,  930])

In [86]:
# Última linha 
y[-1]

array([4598, 8985, 3846, 9969, 2379, 1534, 5605, 9904, 1816, 4129])

In [87]:
# Elemento na posição 5x3(53)
y[4][2]

53

In [101]:
# segunda coluna 
y[:,1]

array([9806, 1594, 9479, 1608, 3422,  216, 4342,  288,  612, 8985])

In [105]:
# apresentar em formato de coluna
y[:,1].reshape(10,1)

array([[9806],
       [1594],
       [9479],
       [1608],
       [3422],
       [ 216],
       [4342],
       [ 288],
       [ 612],
       [8985]])

In [107]:
# mesmo resultado anterior mudando os eixos
y[:,1, np.newaxis]

array([[9806],
       [1594],
       [9479],
       [1608],
       [3422],
       [ 216],
       [4342],
       [ 288],
       [ 612],
       [8985]])

### Concatenar arrays

In [5]:
v3 = np.concatenate((v,v2));v3

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99,  0,  1,
        2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52,
       53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69,
       70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86,
       87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])