# Estudos de Naive Bayes

In [76]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler, Imputer
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score

In [54]:
dados = pd.read_csv('credit_data.csv')

In [55]:
dados.head()

   clientid        income        age         loan  default
0         1  66155.925095  59.017015  8106.532131        0
1         2  34415.153966  48.117153  6564.745018        0
2         3  57317.170063  63.108049  8020.953296        0
3         4  42709.534201  45.751972  6103.642260        0
4         5  66952.688845  18.584336  8770.099235        1

In [40]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 5 columns):
clientid    2000 non-null int64
income      2000 non-null float64
age         1997 non-null float64
loan        2000 non-null float64
default     2000 non-null int64
dtypes: float64(3), int64(2)
memory usage: 78.2 KB

In [41]:
dados.describe()

          clientid        income          age          loan      default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.807559   4444.369695     0.141500
std     577.494589  14326.327119    13.624469   3045.410024     0.348624
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     500.750000  32796.459717    28.990415   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

In [42]:
dados.isnull().values.any()

True

## PrÃ© processamento

In [57]:
# tratar os valores negativos
dados.loc[dados.age>=0,'age'].mean()

40.927688881035856

In [58]:
dados.loc[dados.age<0,'age'] = 40.92

In [34]:
previsores = dados.iloc[:,1:-1].values

In [35]:
classe = dados.iloc[:,-1].values

In [29]:
# tratar os valores nan
imputer = Imputer()

In [36]:
imputer = imputer.fit(previsores)

In [37]:
previsores = imputer.transform(previsores)

## Escalonar os atributos

In [59]:
scaler = StandardScaler()

In [60]:
previsores = scaler.fit_transform(previsores)

## DivisÃ£o dos dados

In [67]:
x_train, x_test, y_train, y_test = train_test_split(previsores, classe, test_size=0.25)

## Modelo

In [73]:
classificador = GaussianNB()

In [74]:
classificador.fit(x_train, y_train)

GaussianNB(priors=None)

In [75]:
previsoes = classificador.predict(x_test)

## MÃ©tricas

In [77]:
score =  accuracy_score(y_test, previsoes)

In [89]:
print('PrecisÃ£o de %s%%' %(score*100))

PrecisÃ£o de 92.4%

In [90]:
confusion_matrix(y_test, previsoes)

array([[418,   9],
       [ 29,  44]], dtype=int64)